* {
  font-family: monospace;
}

form {
  box-shadow: 2px 2px 10px 2px gainsboro;
  padding: 20px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}

.submit-item {
  width: 200%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-shadow: 2px 2px 2px 2px gainsboro;
}

.fridge-container {
  display: grid;
  padding: 40px;
}
.fridge-container input {
  border: none;
  box-shadow: 2px 2px 10px 2px gainsboro;
  border-radius: 5px;
  height: 35px;
  margin: 20px;
  padding-left: 30px;
  outline: none;
}

button {
  height: 50px;
  width: 100px;
  border: none;
  background-color: rgb(37, 196, 37);
  color: white;
  border-radius: 10px;
}

button:hover {
  background-color: greenyellow;
  color: #000000;
}

.item-containers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  box-shadow: 1px 1px 10px 1px gainsboro;
  width: 1200px;
}

.user-items {
  padding: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 810px){
  form{
    grid-template-columns: repeat(1, 1fr);
    width: 400px;
  }

  .submit-item{
    width: 100%;
  }
  .item-containers{
    grid-template-columns: repeat(1, 1fr);
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  form{
    grid-template-columns: repeat(1, 1fr);
    width: 300px;
  }

  .submit-item{
    width: 100%;
  }
  .item-containers{
    grid-template-columns: repeat(1, 1fr);
    width: 300px;
  }
}